<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nils_martin.hubba">

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Standard">


        <activity android:name=".ViewModel.CalendarVM"/>
        <activity android:name=".ViewModel.MainActivityVM"/>

        <activity android:name=".ViewModel.LoginVM">
            android:noHistory="true
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ViewModel.AddHabitVM" />
        <activity android:name=".ViewModel.CreateGroupVM"/>
        <activity android:name=".ViewModel.CreateGroupHabitVM"/>
        <activity android:name=".ViewModel.CreateUserVM" />
        <activity android:name=".ViewModel.HabitVM"/>
        <activity android:name=".ViewModel.MenuVM"/>
        <activity android:name=".ViewModel.SettingsVM"/>
        <activity android:name=".ViewModel.ProfileVM"/>
        <activity android:name=".ViewModel.MenuGroupsVM"/>
        <activity android:name=".ViewModel.MenuHabitsVM"/>
        <activity android:name=".ViewModel.MenuFriendsVM"/>
        <activity android:name=".ViewModel.ProfileEditInformationVM"/>
        <activity android:name=".ViewModel.ProfileEditPasswordVM"/>
        <activity android:name=".ViewModel.HelpVM"/>
        <activity android:name=".ViewModel.MyAchievementsVM"/>
        <receiver android:name=".ViewModel.NotificationReceiver" />
        <activity android:name=".ViewModel.EditHabitVM"/>
        <activity android:name=".ViewModel.AddFriendVM"/>
        <activity android:name=".ViewModel.RemoveFriendVM"/>
    </application>




</manifest>




